body {
    display: flex;
    flex-direction: row; 
    background: url('../images/v4fcnet_01.png') no-repeat scroll top left, black url('../images/v4fcnet_02.png') repeat-y scroll top left;
    color : #FAD489;
	font-family : Verdana, sans-serif;
	font-size : 14px;
	text-align : justify;
	letter-spacing : .1em;
}
article {
    margin: 5px;
}
label {
    font-weight: bold;
}
h1 {
    text-decoration: underline;
}
nav {
    min-width: 200px;
    margin-top: 300px;
    margin-left: 55px;
    margin-right: 55px;
}
#radioButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#display {
    flex-grow: 1;
    margin-top: 85px;
    margin-right: 15px;
}
#journalForm fieldset {
    border: 0px;
    display: flex;
    flex-direction: column;
}
#extras {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
#extras fieldset {
    flex-basis: 45%;
    border: 1px solid;
}
button {
    background: black;
    color: #A63700;
}

/* styling a single entry block */
.single-entry {
    display: flex;
    flex-direction: column;
}
.entry--buttons {
    align-self: flex-end;
}
header, .entry {
    margin-top: 10px;
    padding: 0px 5px 5px 5px;
}
.entry {
    border: 1px solid #A63700;
    border-top: 10px solid #A63700;
    margin-top: -13px;
}
.date {
    align-self: flex-end;
    padding: 5px;
    font-weight: bold;
    z-index: 5;
}
header {
    font-weight: bold;
}

a:link {
	color : #A63700;
	text-decoration : underline;
}
a:visited {
	color : #D95D04;
	text-decoration : line-through;
}
a:hover, a:focus, a:active {
	color : #FFFCD9;
	text-decoration : none;
}
hr {
	color : #FAD489;
	height : 1px;
	width : 90%;
	text-align : center;
}